# don't track anything in data folder (so we don't kill github)
data/* 
!data/.gitkeep

# experiments - allow directories but block specific files
experiments/
!experiments/*/
!experiments/*/args.json
!experiments/*/vocab.json
experiments/**/*.pth
experiments/**/logs/
experiments/**/model_checkpoint*
*.pth